# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask-specific
instance/
.webassets-cache

# Pytest specific
.pytest_cache/

# Environment
.env

# Virtualenv
venv/
.venv/

# IDE
*.egg-info/
build/
dist/

# NODE
node_modules
package-lock.json

# OSX
.DS_Store
